{% extends 'base.html' %} 
{% block content %}
<!-- Page Header -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img
        class="intro-img img-fluid mb-3 mb-lg-0 rounded"
        src="{{ url_for('static', filename='img/maarten-van-den-heuvel-EzH46XCDQRY-unsplash.jpg') }}"
        alt="Kitchen"
      />
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">share with the world</span>
        </h2>
        <p class="mb-3">
          Let us connect, share our passion with the world and enjoy an easy
          homemade recipe!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <h1 class="col s12 center section-heading-upper intro uppercase">Add Recipe</h1>
    </div>
    <div class="row">
      <form
        action="{{ url_for('insert_recipe')}}"
        method="POST"
        enctype="multipart/form-data"
        class="col s12"
      >
        <div class="row">
          <div class="input-field col s3 uppercase">
            <i class="material-icons prefix text-add-recipe">poll</i>
            <select id="Category" name="dish-category">
              <option value=""  disabled selected>Select Category</option>
              {% for cat in category %}
              <option class="text-add-recipe" value="{{cat.category_name}}"
                >{{cat.category_name}}</option
              >
              {% endfor %}
            </select>
            <label>Category</label>
          </div>

          <!-- visual Image for recipe and recipe name field-->
          <div class="input-field col s3 container text-add-recipe">
            <i class="material-icons prefix">monochrome_photos</i>
            <input id="recipe_image" name="recipe_image" type="file" />
            <label for="icon_prefix "></label>
          </div>
          <!--Category field db-->
          <div class="input-field col s3 text-add-recipe ">
            <i class="material-icons prefix">local_dining</i>
            <input
              id="recipe_name"
              name="recipe_name"
              type="text"
              class="validate"
            />
            <label for="icon_prefix" class="uppercase">Recipe Name</label>
          </div>
        </div>

        <!-- Ingridienst and preparation field-->
        <div class="row">
          <div class="input-field col s12 text-add-recipe">
            <div class="input-field col s4">
              <i class="material-icons prefix">shopping_cart</i>
              <textarea
                name="ingridients"
                id="ingridients"
                rows="5"
                class="validate materialize-textarea"
              ></textarea>
              <label for="icon_prefix" class="uppercase">Ingridients</label>
            </div>

            <div class="input-field col s8 text-add-recipe ">
              <i class="material-icons prefix">timelapse</i>
              <textarea
                name="steps"
                id="steps"
                rows="10"
                class="validate materialize-textarea"
              ></textarea>
              <label for="icon_prefix" class="uppercase text-color">Preparation</label>
            </div>
          </div>
        </div>

        <!-- Share button Instagram/Facebook-->
        <div class="row">
          <div class="switch">
            <label class="text-add-recipe">
              <input id="share" name="share" type="checkbox" />
              <span class="lever"></span>
              Share on Instagram
            </label>
          </div>
        </div>
        <div class="row">
          <div class="switch">
            <label class="text-add-recipe">
              <input id="share-facebook" name="share" type="checkbox" />
              <span class="lever"></span>
              Share on Facebook
            </label>
          </div>
        </div>

        <!-- Submit button-->
        <div class="row">
          <button
            class="btn waves-effect waves-light"
            type="submit"
            name="action">
            <a class="text-add-recipe" href="{{url_for('recipes')}}">add recipe</a>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
