<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/business-casual.min.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
      rel="stylesheet"
    />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Yamii Home Cooking</title>
  </head>

  <body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3"
        >lets cook together</span
      >
      <span class="site-heading-lower">yamii home cooking</span>
    </h1>
    <!-- Navigation page-->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-1">
              <a
                class="nav-link text-uppercase text-expanded"
                href="{{ url_for('index')}}"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-1">
              <a
                class="nav-link text-uppercase text-expanded"
                href="{{ url_for('recipes')}}"
                >recipes</a
              >
            </li>
            <li class="nav-item px-lg-1">
              <a
                class="nav-link text-uppercase text-expanded"
                href="{{ url_for('add_recipe')}}"
                >add recipes</a
              >
            </li>
            <li class="nav-item px-lg-1">
              <a
                class="nav-link text-uppercase text-expanded"
                href="{{ url_for('shop')}}"
                >Products</a
              >
            </li>
            <li class="nav-item px-lg-1">
              <a
                class="nav-link text-uppercase text-expanded"
                href="{{ url_for('shopping_cart')}}"
                >shopping cart</a
              >
            </li>
            <li class="nav-item px-lg-1">
              <a
                class="nav-link text-uppercase text-expanded"
                href="{{ url_for('subscription')}}"
                >login/sign up</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      {% block content %} {% endblock %}
    </div>
    <!--Footer section -->
    <footer class="footer text-faded text-center py-5">
        <!--<div class="row">
          <div class="col-12">
            <p class="m-0 small">Copyright &copy; Your Website 2020</p>
            https://startbootstrap.com/themes/business-casual/
          </div>
        </div>  --> 
        <div class="container">
        <div class="col-12">
          <ul class="social-links">
            <li class="list-inline-item">
              <a
                href="https://www.facebook.com/search/top?q=yamii%20home%20cooking"
                target="_blank"
              >
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <span class="sr-only">facebook</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                href="https://www.instagram.com/yamiihomecooking/"
                target="_blank"
              >
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span class="sr-only">instagram</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                href="{{ url_for('subscription')}}">
                <i class="material-icons prefix " aria-hidden="true">contacts</i>
                <span class="sr-only">contacts</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <!-- Bootstrap jquery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    
    <!-- Materialize script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- extern js file-->
    <script type="text/javascript">
      $(document).ready(function () {
        $("collapsible").collapsible();
        $("select").material_select();
      });
    </script>
  </body>
</html>