{% extends 'base.html' %} 
{% block content %}
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ url_for('static', filename='img/oleksandr-kurchev-9gtiGV76NnM-unsplash.jpg') }}" alt="Kitchen">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">home cooking</span>
          </h2>
          <p class="mb-3">
             Cooking is at once child’s play and adult joy. And cooking done with care is an act of love. — Craig Claiborne
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">about</span>
            </h2>
            <p class="mb-0">A place where you can share your recipe and find people who are passionate about trying something new or enjoying a good home recipe idea.<hr>
            The idea of ​​creating a little space for creation and inspiration by sharing with the world what you enjoy to do in your free time and disconnecting from your routine.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}