{% extends 'base.html' %} {% block content %}
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ml-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">Blended to Perfection</span>
            <span class="section-heading-lower">Fruits &amp; Salat</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="{{ url_for('static', filename='img/andrea-niosi-LbJ_jSAepKM-unsplash.jpg') }}"
      />
      <div class="product-item-description d-flex mr-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            We take pride in our work, and it shows. We guarantee that it will
            be an experience worth having.
          </p>
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h6 class="card-price text-center">
                $25
              </h6>
              <hr />
              <a href="#" class="btn btn-block btn-primary text-uppercase"
                >Buy</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ml-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">From Around the World</span>
            <span class="section-heading-lower">wood cutting board</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="{{ url_for('static', filename='img/sebastien-marchand-oVIUvwm2dvM-unsplash.jpg') }}"
        alt="wood cutting board"
      />
      <div class="product-item-description d-flex mr-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            Travelling the world for the very best in culture, test, quality and
            joy, cooking is something take pride in.
          </p>
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h6 class="card-price text-center">
                $10
              </h6>
              <hr />
              <a href="#" class="btn btn-block btn-primary text-uppercase"
                >Buy</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ml-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">create the best shapes</span>
            <span class="section-heading-lower">knives</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="{{ url_for('static', filename='img/richard-iwaki-VLVffkaSrOo-unsplash.jpg') }}"
        alt="wood cutting board"
      />
      <div class="product-item-description d-flex mr-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            To joy the moment with perfection, the perfect knive is a must and  our best friend.
          </p>
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h6 class="card-price text-center">
                $30
              </h6>
              <hr />
              <a href="#" class="btn btn-block btn-primary text-uppercase"
                >Buy</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
